<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        background-image: url("https://i.pinimg.com/originals/2d/f0/57/2df057aee9050bc91a8be6ea79827bf5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      a {
        text-decoration-line: none;
        color: rgb(100, 100, 100);
      }
    </style>
    <div style="text-align: center">
      <h1><i><a href="/">Honey Monitoring</a></h1></i>
    </div>
  </head>

  <body>
    <div style="text-align: center; list-style: none; margin-top: 300px">
      <p>
        <button
          type="button"
          style="width: 130pt; height: 25pt; border-radius: 10px; border: none;"
          onclick="location.href='/stream_page';"
        >
          Monitoring
        </button>
      </p>
      <p>
        <button
          type="button"
          style="width: 130pt; height: 25pt; border-radius: 10px;border: none;"
          onclick="location.href='/setting';"
        >
          Setting
        </button>
      </p>
      <form action="/camera_post" method="post">
        <p>
          <button name="CameraOn" style="height: 25pt; border-radius: 10px;border: none;" value="on">
            Camera On
          </button>
          <button name="CameraOff" style="height: 25pt; border-radius: 10px;border: none;" value="off">
            Camera Off
          </button>
        </p>
      </form>
    </div>
    <ul style="list-style: none; font-size: 0.5em; color: white; margin-right: 40px; margin-top: 100px;">
      <li>Face cover, Blanket Remove Alert Mode : {{FaceCoverBlanketRemoveState}}</li>
      <li>Frequently Move Alert Mode : {{FrequentlyMoveState}}</li>
      <li>Awake Alert Mode : {{AwakeState}}</li>
    </ul>
  </body>
</html>
