<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        background-image: url("https://i.pinimg.com/originals/2d/f0/57/2df057aee9050bc91a8be6ea79827bf5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <div style="text-align: center">
      <h1><a href="/">Baby Monitoring</a></h1>
    </div>
  </head>

  <body>
    <div style="list-style: none;">
      <form action="/setting_post" method="post">
        <div style="background-color: white; padding:8px;border : 2px solid black;">
          Setting
          <p style="border : 2px solid black;">
            <input type="checkbox" name="PoseEstimation" />
            Face cover, Blanket Remove Alert
          </p>
          <p style="border : 2px solid black">
            <input type="checkbox" name="FrequentlyMove" />
            Frequently Move Alert
          </p>
          <p style="border : 2px solid black">
            <input type="checkbox" name="BlinkDetection" />
            Awake Alert
          </p>
        </div>
        <p>
          <input type="submit" value="submit" style="width: 240pt; height: 25pt;"/>
        </p>
      </form>
    </div>
  </div>
  </body>
</html>
